/*详情页面背景*/
.ol-wd-xxx{
    width: 100%;
    min-height:740px;
    overflow: hidden;
    background: #f1f5f8;
}
.wd-xxx-w{
    min-height: 740px;
    overflow: hidden;

}
/*左边列表*/
.wd-xxx-l{
    width: 256px;
    min-height: 160px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}
.wd-xxx-l a:first-child li{
font-size: 14px;
    color: #7e7e7e;
    padding-left: 20px;
    margin-top: 15px;

}
.wd-xxx-l .ord-li-title{
    padding-left: 33px;
    height: 38px;
    line-height: 38px;
    border-left: 2px solid #fff;
    position: relative;
}
.wd-xxx-l .ord-li{
    padding-left: 33px;
    height: 38px;
    line-height: 38px;
    border-left: 2px solid #fff;
    position: relative;

    transition: all 10ms linear;
}
.ord-li:hover{
    background-color: #e8e8e8;
    border-left:2px solid #ff6633;
    color:#ff6633 !important;
}
.ord-li.ord-li-on{
    border-left: 2px solid #ff6633;
    color:#ff6633;
    background: #f1f5f8;
}
.ord-li span.o-l-jt{
    position:absolute;
    width: 20px;
    height: 20px;
    
    left: 230px;
}
.ord-li i{
    margin-right: 5px;
}
.ord-li span{
    position: absolute;
    left: 60px;

}
.ordico{
    position: absolute;
    top: 6px;
    left: 33px;
    width: 20px;
    height: 20px;
}
.ordico-l-1{

    background-position:-90px -960px ;
}
.ordico-l-2{

    background-position:-90px -1510px ;
}
.ordico-l-3{

    background-position:-90px -1490px ;
}.ordico-l-4{

     background-position:-90px -983px ;
 }
.ordico-l-5{

    background-position:-90px -983px ;
}

/*右边列表*/
.wd-xxx-r{
    width: 890px;    
    height:400px;
    background-image: url(../img/order/bg1.jpg);
    background-size:100%;
    position: relative; 
}
.wd-xxx-r-content{
    width: 225px;
    height: 280px;
    background: #fff;
    border-radius: 10px;
    padding:10px 20px; 

    text-align: center;

    position: absolute;
    top:50px;
    left:310px;
    
}
.wd-xxx-r-content .p-tishi1{
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #ff6633;

}
.wd-xxx-r-content .p-tishi2,.p-tishi3,.p-tishi4{
    text-align: center;
    height: 22px;
    line-height: 22px;
    font-size: 14px;

}
.wd-xxx-r-content .p-img{
    display: block;
    width: 169px;
    height: 176px;
    background-position: -208px -1540px;
    margin-left: 28px;
}
/**/
.wd-xxx-w.wo-maipiao{
    min-height: 540px;
    overflow: hidden;

}
.wd-xxx-r.wo-maipiao{
    width: 1200px;    
    height:500px;
}
.wd-xxx-r-content.wo-maipiao{
    top:80px;
    left:480px;
}












































