/*详情页面背景*/
.ol-coupon{
    width: 100%;
    min-height:740px;
    overflow: hidden;
    background: #f1f5f8;
}
.coupon-w{
    min-height: 740px;
    overflow: hidden;

}
/*左边列表*/
.coupon-l{
    width: 256px;
    min-height: 160px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}
.coupon-l a:first-child li{
font-size: 14px;
    color: #7e7e7e;
    padding-left: 20px;
    margin-top: 15px;

}
.coupon-l .ord-li-title{
    padding-left: 33px;
    height: 38px;
    line-height: 38px;
    border-left: 2px solid #fff;
    position: relative;
}
.coupon-l .ord-li{
    padding-left: 33px;
    height: 38px;
    line-height: 38px;
    border-left: 2px solid #fff;
    position: relative;

    transition: all 10ms linear;
}
.ord-li:hover{
    background-color: #e8e8e8;
    border-left:2px solid #ff6633;
    color:#ff6633 !important;
}
.ord-li.ord-li-on{
    border-left: 2px solid #ff6633;
    color:#ff6633;
    background: #f1f5f8;
}
.ord-li span.o-l-jt{
    position:absolute;
    width: 20px;
    height: 20px;
    
    left: 230px;
}
.ord-li i{
    margin-right: 5px;
}
.ord-li span{
    position: absolute;
    left: 60px;

}
.ordico{
    position: absolute;
    top: 6px;
    left: 33px;
    width: 20px;
    height: 20px;
}
.ordico-l-1{

    background-position:-90px -960px ;
}
.ordico-l-2{

    background-position:-90px -1510px ;
}
.ordico-l-3{

    background-position:-90px -1490px ;
}.ordico-l-4{

     background-position:-90px -983px ;
 }
.ordico-l-5{

    background-position:-90px -983px ;
}

/*右边列表*/
.coupon-r{
    width: 860px;
    min-height: 800px;
    background: #f1f5f8;
    
}
.wd-coupon-top{
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
    background-color: #fff;

}
.coupon-tit{
    font-size: 16px;
    color:#ff6633;
    padding: 10px 20px; 
    background-color:#f9f9f9;
    border-left:2px solid #ff6633;

}
.wd-coupon-top .coupon-duihuanma{
    width: 100%;
    height:45px;
    line-height: 45px;
    padding: 10px 20px;
    
}
.coupon-duihuanma input{
    width: 300px;
    height: 25px;
    border: 1px solid #e5e5e5;
    font-size: 10px;
    border-radius: 3px;
    color: #e5e5e5;
    padding: 3px 10px;
}
.coupon-duihuanma input.duihuan{
    display: inline-block;
    width: 30px;
    height: 25px;
    background-color: #ff6633;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 10px;
}



.wd-coupon-content{
    min-height: 835px;
    background: #fff;
       
}
.wd-coupon-content .copo-list-top-tit{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color:#ccc; 
}
.wd-coupon-content .copo-list-top-tit li{
    float: left;
    width: 153px;
   
    text-align: center;
    padding: 0 9px;
}
.copo-list{
    float: left;
    width: 100%;
    min-height: 500px;
}
.copo-list .copo-list-c{
    
    width: 100%;
    height:60px;
    line-height: 60px;
    border-bottom: 2px dotted #ccc; 
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around; 

}
.copo-list .copo-list-c li{
    
    width: 150px;
    height:50px;
   
    text-align: center;
    padding: 0 9px;

}




































